# Exploratory-Data-Analysis: Drug Abuse and Mental Health
___by Alejandro Echaniz and Sarah Zhu___

__Table of Contents__
1. Introduction 
2. Data Collection
     - data cleaning
     - designing experiment 
     - sss
3. Data Analysis
     - hypothesis testing
     - AI/ ML Modeling 
     - sss
4. Conclusion

In [2]:
# Importing necessary Libraries
import pandas as pd
import numpy as np
import matplotlib as plt

## Data Accumulation +  Cleaning 
- Data retricved from catalog.data.gov
- loading in data
- clean any unnecessary values
- perform any preprocessing algorithms for ml algorithms

## Auxiliary Functions for data cleaning

In [3]:
# load the data
df =  pd.read_csv( 'data/accidentdrugdeath.csv')


# Viewing data
df
# data overview 
# df.head()

,Date,Date Type,Age,Sex,Race,Ethnicity,Residence City,Residence County,Residence State,Injury City,...,Xylazine,Gabapentin,Opiate NOS,Heroin/Morph/Codeine,Other Opioid,Any Opioid,Other,ResidenceCityGeo,InjuryCityGeo,DeathCityGeo
0,05/29/2012,Date of death,37.0,Male,Black,NaN,STAMFORD,FAIRFIELD,NaN,STAMFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"STAMFORD, CT\n(41.051924, -73.539475)","STAMFORD, CT\n(41.051924, -73.539475)","CT\n(41.575155, -72.738288)"
1,06/27/2012,Date of death,37.0,Male,White,NaN,NORWICH,NEW LONDON,NaN,NORWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NORWICH, CT\n(41.524304, -72.075821)","NORWICH, CT\n(41.524304, -72.075821)","Norwich, CT\n(41.524304, -72.075821)"
2,03/24/2014,Date of death,28.0,Male,White,NaN,HEBRON,NaN,NaN,HEBRON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"HEBRON, CT\n(41.658069, -72.366324)","HEBRON, CT\n(41.658069, -72.366324)","Marlborough, CT\n(41.632043, -72.461309)"
3,12/31/2014,Date of death,26.0,Female,White,NaN,BALTIC,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BALTIC, CT\n(41.617221, -72.085031)","CT\n(41.575155, -72.738288)","Baltic, CT\n(41.617221, -72.085031)"
4,01/16/2016,Date of death,41.0,Male,White,NaN,SHELTON,FAIRFIELD,CT,SHELTON,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"SHELTON, CT\n(41.316843, -73.092968)","SHELTON, CT\n(41.316843, -73.092968)","Bridgeport, CT\n(41.179195, -73.189476)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10649,08/15/2022,Date of death,60.0,Male,White,NaN,SOUTHINGTON,HARTFORD,CT,SOUTHINGTON,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"SOUTHINGTON, CT\n(41.600220000000036, -72.8781...","SOUTHINGTON, CT\n(41.600220000000036, -72.8781...","CT\n(41.57350273000003, -72.73830590799997)"
10650,01/30/2022,Date of death,65.0,Male,White,NaN,HARTFORD,HARTFORD,CT,HARTFORD,...,NaN,Y,NaN,y,Buprenorphine,Y,Buprenorphine,"HARTFORD, CT\n(41.76376000000005, -72.67397999...","HARTFORD, CT\n(41.76376000000005, -72.67397999...","CT\n(41.57350273000003, -72.73830590799997)"
10651,09/17/2022,Date of death,41.0,Male,Black or African American,NaN,HARTFORD,HARTFORD,CT,HARTFORD,...,Y,NaN,NaN,NaN,NaN,Y,NaN,"HARTFORD, CT\n(41.76376000000005, -72.67397999...","HARTFORD, CT\n(41.76376000000005, -72.67397999...","CT\n(41.57350273000003, -72.73830590799997)"
10652,12/20/2022,Date of death,59.0,Male,White,NaN,CHESHIRE,NEW HAVEN,CT,CHESHIRE,...,Y,NaN,NaN,NaN,NaN,Y,NaN,"CHESHIRE, CT\n(41.511690000000044, -72.8991099...","CHESHIRE, CT\n(41.511690000000044, -72.8991099...","CT\n(41.57350273000003, -72.73830590799997)"
10653,09/08/2022,Date of death,49.0,Male,White,NaN,WEATHERSFIELD,NaN,NaN,WETHERSFIELD,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,"WEATHERSFIELD, CT\n(41.71109, -72.66228)","WETHERSFIELD, CT\n(41.71109000000007, -72.6622...","CT\n(41.57350273000003, -72.73830590799997)"

In [4]:
# Data Cleaning
# Converting Age (type float) to int
df.dropna(subset = ['Age'], inplace = True) # Eliminiating the NaN values from age in place
df["Age"] = df["Age"].astype(int)

In [5]:
# Data Cleaning
# Find unqiue states 
df.dropna(subset = ['Residence State'], inplace = True)
df['Residence State'].unique()

array(['CT', 'MA', 'VA', 'FL', 'NY', 'ME', 'NJ', 'RI', 'TX', 'OH', 'NH',
       'SD', 'NC', 'PA', 'CA', 'AL', 'IA', 'SC', 'IL', 'OK', 'WA', 'WV',
       'GA', 'DC', 'MI', 'MN', 'CO', 'KY', 'LA', 'VT', 'MD', 'TN', 'IN',
       'WY'], dtype=object)

### US Median Household Income Data 2011-2021

In [10]:
# veiwing  income data for future cross analysis 
# source: Wiki
df1 = pd.read_csv('data/income - Sheet1.csv')
df1

,"States and Washington, D.C.",2021,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,Growth rate
0,United States,"$69,717","$65,712","$63,179","$60,336","$57,617","$55,775","$53,657","$52,250","$51,371","$50,502","$50,046",3.07%
1,"Washington, D.C.","$90,088","$92,266","$85,203","$82,372","$75,506","$75,628","$71,648","$67,572","$66,583","$63,124","$60,903",3.68%
2,Maryland,"$90,203","$86,738","$83,242","$80,776","$78,945","$75,847","$73,971","$72,483","$71,122","$70,004","$68,854",2.49%
3,Massachusetts,"$89,645","$85,843","$79,835","$77,385","$75,297","$70,628","$69,160","$66,768","$65,339","$62,859","$62,072",3.41%
4,New Jersey,"$89,296","$85,751","$81,740","$80,088","$76,126","$72,222","$71,919","$70,165","$69,667","$67,458","$67,681",2.57%
5,New Hampshire,"$88,465","$77,933","$74,991","$73,381","$70,936","$70,303","$66,532","$64,230","$63,280","$62,647","$61,042",3.45%
6,California,"$84,907","$80,440","$75,277","$71,805","$67,739","$64,500","$61,933","$60,190","$58,328","$57,287","$57,708",3.59%
7,Hawaii,"$84,857","$83,102","$80,212","$77,765","$74,511","$73,486","$69,592","$68,020","$66,259","$61,821","$63,030",2.77%
8,Washington,"$84,247","$78,687","$74,073","$70,979","$67,106","$64,129","$61,366","$58,405","$57,573","$56,835","$55,631",3.86%
9,Connecticut,"$83,771","$78,833","$76,348","$74,168","$73,433","$71,346","$70,048","$67,098","$67,276","$65,753","$64,032",2.48%
10,Colorado,"$82,254","$77,127","$71,953","$69,117","$65,685","$63,909","$61,303","$58,823","$56,765","$55,387","$54,046",3.90%
11,Virginia,"$80,963","$76,456","$72,577","$71,535","$68,114","$66,262","$64,902","$62,666","$61,741","$61,882","$60,674",2.67%
12,Utah,"$79,449","$75,780","$71,414","$65,358","$65,977","$62,912","$60,922","$59,770","$57,049","$55,869","$54,744",3.48%
13,Alaska,"$77,845","$75,463","$74,346","$73,181","$76,440","$73,355","$71,583","$72,237","$67,712","$67,825","$64,576",1.75%
14,Minnesota,"$77,720","$74,593","$70,315","$68,388","$65,599","$63,488","$61,481","$60,702","$58,906","$56,954","$55,459",3.12%
15,New York,"$74,314","$72,108","$67,844","$64,894","$62,909","$60,850","$58,878","$57,369","$56,448","$55,246","$54,148",2.93%
16,Rhode Island,"$74,008","$71,169","$64,340","$63,870","$60,596","$58,073","$54,891","$55,902","$54,554","$53,636","$52,254",3.26%
17,Vermont,"$72,431","$63,001","$60,782","$57,513","$57,677","$56,990","$54,166","$52,578","$52,977","$52,776","$49,406",3.58%
18,Illinois,"$72,205","$69,187","$65,030","$62,992","$60,960","$59,588","$57,444","$56,210","$55,137","$53,234","$52,972",2.87%
19,Oregon,"$71,562","$67,058","$63,426","$60,212","$57,532","$54,148","$51,075","$50,251","$49,161","$46,816","$46,560",4.00%
20,Delaware,"$71,091","$70,176","$64,805","$62,852","$61,757","$61,255","$59,716","$57,846","$58,415","$58,814","$55,847",2.25%
21,Arizona,"$69,056","$62,055","$59,246","$56,581","$53,558","$51,492","$50,068","$48,510","$47,826","$46,709","$46,789",3.62%
22,Pennsylvania,"$68,957","$63,463","$60,905","$59,105","$56,907","$55,702","$53,234","$52,007","$51,230","$50,228","$49,288",3.11%
23,Wisconsin,"$67,125","$64,168","$60,773","$59,305","$56,811","$55,638","$52,622","$51,467","$51,059","$50,395","$49,001",2.91%
24,Texas,"$66,963","$64,034","$60,629","$59,206","$56,565","$55,653","$53,035","$51,704","$50,740","$49,392","$48,615",2.96%
25,Nebraska,"$66,817","$63,229","$59,566","$59,970","$56,927","$54,996","$52,686","$51,440","$50,723","$50,296","$48,408",2.99%
26,Georgia,"$66,559","$61,980","$58,756","$56,183","$53,559","$51,244","$49,321","$47,829","$47,209","$46,007","$46,430",3.34%
27,North Dakota,"$66,519","$64,577","$63,837","$61,843","$60,656","$60,557","$59,029","$55,759","$53,585","$51,704","$48,670",2.90%
28,Idaho,"$66,474","$60,999","$55,583","$52,225","$51,807","$48,275","$47,861","$46,783","$45,489","$43,341","$43,490",3.97%
29,Nevada,"$66,274","$63,276","$58,646","$58,003","$55,180","$52,431","$51,450","$51,230","$49,760","$48,927","$51,001",2.45%
30,South Dakota,"$66,143","$59,533","$56,274","$56,521","$54,467","$53,017","$50,979","$48,947","$48,362","$48,321","$45,904",3.40%
31,Iowa,"$65,600","$61,691","$59,955","$58,570","$56,247","$54,736","$53,712","$52,229","$50,957","$49,427","$47,961",2.89%
32,Wyoming,"$65,204","$65,003","$61,584","$60,434","$59,882","$60,214","$57,055","$58,752","$54,901","$56,322","$53,512",1.87%
33,Maine,"$64,767","$58,924","$55,602","$55,277","$53,079","$51,494","$49,462","$46,974","$46,709","$46,033","$45,815",3.22%
34,Kansas,"$64,124","$62,087","$58,218","$56,422","$54,935","$53,906","$52,504","$50,972","$50,241","$48,964","$48,257",2.63%
35,Michigan,"$63,498","$59,584","$56,697","$54,909","$52,491","$51,084","$49,847","$48,273","$46,859","$45,981","$45,413",3.10%
36,Montana,"$63,249","$57,153","$55,328","$53,386","$50,027","$49,509","$46,328","$46,972","$45,076","$44,222","$42,666",3.67%
37,Florida,"$63,062","$59,227","$55,462","$52,594","$50,860","$49,426","$47,463","$46,036","$45,040","$44,299","$44,409",3.25%
38,Indiana,"$62,743","$57,603","$55,746","$54,181","$52,314","$50,532","$49,446","$47,529","$46,974","$46,438","$44,613",3.15%
39,Ohio,"$62,262","$58,642","$56,111","$54,021","$52,344","$51,075","$49,308","$48,081","$46,829","$45,749","$45,090",2.98%
40,North Carolina,"$61,972","$57,341","$53,855","$52,752","$50,584","$47,830","$46,556","$45,906","$45,150","$43,916","$43,326",3.32%
41,Missouri,"$61,847","$57,409","$54,478","$53,578","$51,746","$50,238","$48,363","$46,931","$45,321","$45,247","$44,301",3.09%
42,Tennessee,"$59,695","$56,071","$52,375","$51,340","$48,547","$47,275","$44,361","$44,297","$42,764","$41,693","$41,461",3.39%
43,South Carolina,"$59,318","$56,227","$52,306","$50,570","$49,501","$47,238","$45,238","$44,163","$43,107","$42,367","$42,018",3.20%
44,Oklahoma,"$55,826","$54,449","$51,924","$50,051","$49,176","$48,568","$47,529","$45,690","$44,312","$43,225","$42,072",2.61%
45,Kentucky,"$55,573","$52,295","$50,247","$48,375","$46,659","$45,215","$42,958","$43,399","$41,724","$41,141","$40,062",3.03%
46,New Mexico,"$53,992","$51,945","$47,169","$46,744","$46,748","$45,382","$44,803","$43,872","$42,558","$41,963","$42,090",2.32%
47,Alabama,"$53,913","$51,734","$49,861","$48,123","$46,257","$44,765","$42,830","$42,849","$41,574","$41,415","$40,474",2.65%
48,Arkansas,"$52,528","$48,952","$47,062","$45,869","$44,334","$41,995","$41,262","$40,511","$40,112","$38,758","$38,307",2.92%
49,Louisiana,"$52,087","$51,073","$47,905","$46,145","$45,146","$45,727","$44,555","$44,164","$42,944","$41,734","$42,505",1.89%
50,West Virginia,"$51,248","$48,850","$44,097","$43,469","$43,385","$42,019","$41,059","$41,253","$40,196","$38,482","$38,218",2.74%
51,Mississippi,"$48,716","$45,792","$44,717","$43,529","$41,754","$40,593","$39,680","$37,963","$37,095","$36,919","$36,851",2.58%

In [11]:
df1.rename(columns = {'States and Washington, D.C.': 'States'}, inplace = True)
df1.columns
df1

,States,2021,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,Growth rate
0,United States,"$69,717","$65,712","$63,179","$60,336","$57,617","$55,775","$53,657","$52,250","$51,371","$50,502","$50,046",3.07%
1,"Washington, D.C.","$90,088","$92,266","$85,203","$82,372","$75,506","$75,628","$71,648","$67,572","$66,583","$63,124","$60,903",3.68%
2,Maryland,"$90,203","$86,738","$83,242","$80,776","$78,945","$75,847","$73,971","$72,483","$71,122","$70,004","$68,854",2.49%
3,Massachusetts,"$89,645","$85,843","$79,835","$77,385","$75,297","$70,628","$69,160","$66,768","$65,339","$62,859","$62,072",3.41%
4,New Jersey,"$89,296","$85,751","$81,740","$80,088","$76,126","$72,222","$71,919","$70,165","$69,667","$67,458","$67,681",2.57%
5,New Hampshire,"$88,465","$77,933","$74,991","$73,381","$70,936","$70,303","$66,532","$64,230","$63,280","$62,647","$61,042",3.45%
6,California,"$84,907","$80,440","$75,277","$71,805","$67,739","$64,500","$61,933","$60,190","$58,328","$57,287","$57,708",3.59%
7,Hawaii,"$84,857","$83,102","$80,212","$77,765","$74,511","$73,486","$69,592","$68,020","$66,259","$61,821","$63,030",2.77%
8,Washington,"$84,247","$78,687","$74,073","$70,979","$67,106","$64,129","$61,366","$58,405","$57,573","$56,835","$55,631",3.86%
9,Connecticut,"$83,771","$78,833","$76,348","$74,168","$73,433","$71,346","$70,048","$67,098","$67,276","$65,753","$64,032",2.48%
10,Colorado,"$82,254","$77,127","$71,953","$69,117","$65,685","$63,909","$61,303","$58,823","$56,765","$55,387","$54,046",3.90%
11,Virginia,"$80,963","$76,456","$72,577","$71,535","$68,114","$66,262","$64,902","$62,666","$61,741","$61,882","$60,674",2.67%
12,Utah,"$79,449","$75,780","$71,414","$65,358","$65,977","$62,912","$60,922","$59,770","$57,049","$55,869","$54,744",3.48%
13,Alaska,"$77,845","$75,463","$74,346","$73,181","$76,440","$73,355","$71,583","$72,237","$67,712","$67,825","$64,576",1.75%
14,Minnesota,"$77,720","$74,593","$70,315","$68,388","$65,599","$63,488","$61,481","$60,702","$58,906","$56,954","$55,459",3.12%
15,New York,"$74,314","$72,108","$67,844","$64,894","$62,909","$60,850","$58,878","$57,369","$56,448","$55,246","$54,148",2.93%
16,Rhode Island,"$74,008","$71,169","$64,340","$63,870","$60,596","$58,073","$54,891","$55,902","$54,554","$53,636","$52,254",3.26%
17,Vermont,"$72,431","$63,001","$60,782","$57,513","$57,677","$56,990","$54,166","$52,578","$52,977","$52,776","$49,406",3.58%
18,Illinois,"$72,205","$69,187","$65,030","$62,992","$60,960","$59,588","$57,444","$56,210","$55,137","$53,234","$52,972",2.87%
19,Oregon,"$71,562","$67,058","$63,426","$60,212","$57,532","$54,148","$51,075","$50,251","$49,161","$46,816","$46,560",4.00%
20,Delaware,"$71,091","$70,176","$64,805","$62,852","$61,757","$61,255","$59,716","$57,846","$58,415","$58,814","$55,847",2.25%
21,Arizona,"$69,056","$62,055","$59,246","$56,581","$53,558","$51,492","$50,068","$48,510","$47,826","$46,709","$46,789",3.62%
22,Pennsylvania,"$68,957","$63,463","$60,905","$59,105","$56,907","$55,702","$53,234","$52,007","$51,230","$50,228","$49,288",3.11%
23,Wisconsin,"$67,125","$64,168","$60,773","$59,305","$56,811","$55,638","$52,622","$51,467","$51,059","$50,395","$49,001",2.91%
24,Texas,"$66,963","$64,034","$60,629","$59,206","$56,565","$55,653","$53,035","$51,704","$50,740","$49,392","$48,615",2.96%
25,Nebraska,"$66,817","$63,229","$59,566","$59,970","$56,927","$54,996","$52,686","$51,440","$50,723","$50,296","$48,408",2.99%
26,Georgia,"$66,559","$61,980","$58,756","$56,183","$53,559","$51,244","$49,321","$47,829","$47,209","$46,007","$46,430",3.34%
27,North Dakota,"$66,519","$64,577","$63,837","$61,843","$60,656","$60,557","$59,029","$55,759","$53,585","$51,704","$48,670",2.90%
28,Idaho,"$66,474","$60,999","$55,583","$52,225","$51,807","$48,275","$47,861","$46,783","$45,489","$43,341","$43,490",3.97%
29,Nevada,"$66,274","$63,276","$58,646","$58,003","$55,180","$52,431","$51,450","$51,230","$49,760","$48,927","$51,001",2.45%
30,South Dakota,"$66,143","$59,533","$56,274","$56,521","$54,467","$53,017","$50,979","$48,947","$48,362","$48,321","$45,904",3.40%
31,Iowa,"$65,600","$61,691","$59,955","$58,570","$56,247","$54,736","$53,712","$52,229","$50,957","$49,427","$47,961",2.89%
32,Wyoming,"$65,204","$65,003","$61,584","$60,434","$59,882","$60,214","$57,055","$58,752","$54,901","$56,322","$53,512",1.87%
33,Maine,"$64,767","$58,924","$55,602","$55,277","$53,079","$51,494","$49,462","$46,974","$46,709","$46,033","$45,815",3.22%
34,Kansas,"$64,124","$62,087","$58,218","$56,422","$54,935","$53,906","$52,504","$50,972","$50,241","$48,964","$48,257",2.63%
35,Michigan,"$63,498","$59,584","$56,697","$54,909","$52,491","$51,084","$49,847","$48,273","$46,859","$45,981","$45,413",3.10%
36,Montana,"$63,249","$57,153","$55,328","$53,386","$50,027","$49,509","$46,328","$46,972","$45,076","$44,222","$42,666",3.67%
37,Florida,"$63,062","$59,227","$55,462","$52,594","$50,860","$49,426","$47,463","$46,036","$45,040","$44,299","$44,409",3.25%
38,Indiana,"$62,743","$57,603","$55,746","$54,181","$52,314","$50,532","$49,446","$47,529","$46,974","$46,438","$44,613",3.15%
39,Ohio,"$62,262","$58,642","$56,111","$54,021","$52,344","$51,075","$49,308","$48,081","$46,829","$45,749","$45,090",2.98%
40,North Carolina,"$61,972","$57,341","$53,855","$52,752","$50,584","$47,830","$46,556","$45,906","$45,150","$43,916","$43,326",3.32%
41,Missouri,"$61,847","$57,409","$54,478","$53,578","$51,746","$50,238","$48,363","$46,931","$45,321","$45,247","$44,301",3.09%
42,Tennessee,"$59,695","$56,071","$52,375","$51,340","$48,547","$47,275","$44,361","$44,297","$42,764","$41,693","$41,461",3.39%
43,South Carolina,"$59,318","$56,227","$52,306","$50,570","$49,501","$47,238","$45,238","$44,163","$43,107","$42,367","$42,018",3.20%
44,Oklahoma,"$55,826","$54,449","$51,924","$50,051","$49,176","$48,568","$47,529","$45,690","$44,312","$43,225","$42,072",2.61%
45,Kentucky,"$55,573","$52,295","$50,247","$48,375","$46,659","$45,215","$42,958","$43,399","$41,724","$41,141","$40,062",3.03%
46,New Mexico,"$53,992","$51,945","$47,169","$46,744","$46,748","$45,382","$44,803","$43,872","$42,558","$41,963","$42,090",2.32%
47,Alabama,"$53,913","$51,734","$49,861","$48,123","$46,257","$44,765","$42,830","$42,849","$41,574","$41,415","$40,474",2.65%
48,Arkansas,"$52,528","$48,952","$47,062","$45,869","$44,334","$41,995","$41,262","$40,511","$40,112","$38,758","$38,307",2.92%
49,Louisiana,"$52,087","$51,073","$47,905","$46,145","$45,146","$45,727","$44,555","$44,164","$42,944","$41,734","$42,505",1.89%
50,West Virginia,"$51,248","$48,850","$44,097","$43,469","$43,385","$42,019","$41,059","$41,253","$40,196","$38,482","$38,218",2.74%
51,Mississippi,"$48,716","$45,792","$44,717","$43,529","$41,754","$40,593","$39,680","$37,963","$37,095","$36,919","$36,851",2.58%

In [14]:
# Data Cleaning 
# Eliminate States that aren't present in the accidentaldrugdeath data set from income 

# Step 1: we replace full state names with abbreviation to match the dataset

state_abbr = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 
    'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 
    'Wisconsin': 'WI', 'Wyoming': 'WY', 'Washington, D.C.': 'DC'
}

df1['States'].replace(state_abbr, inplace = True)
df1

# Step 2: we eliminate the rows without the targeted states 


# List of targeted states from accidentaldrugdeath dataset
targeted_states = {'CT', 'MA', 'VA', 'FL', 'NY', 'ME', 'NJ', 'RI', 'TX', 'OH', 
                   'NH', 'SD', 'NC', 'PA', 'CA', 'AL', 'IA', 'SC', 'IL', 'OK', 
                   'WA', 'WV', 'GA', 'DC', 'MI', 'MN', 'CO', 'KY', 'LA', 'VT', 
                   'MD', 'TN', 'IN', 'WY'}
#indexNames = df1[~(df1['States'] == targeted_states)].index

 #Filter df1 to include only rows where 'States' is in targeted_states
#df1.drop(indexNames)


# Why the fuck is it empty

## Experiment Design
Generating a series of quesitons after cleaning and observing data

***Questions***
-  *Which* state has the highest concentration of drugs-related deaths? Of the following drugs, which is the most common related death associated to it.
- Frequence age and death associated do drug related deaths
- For states of lower income, do they have higher associated death associated to drugs
- Does urbanization correspond to higher drug use within the staets